__pycache__/
*.pyc
outputs/crawl.json
crawler/crawl_output.json
test.json
# XSS Agent Reports
xssdetector_report.json
xssdetector_report.txt
xssdetector_screenshots/
steerwings.com_endpoint_logs
testaspnet.vulnweb.com_endpoint_logs
created_accounts.json
password_policy_report.json
.env